body {
    background-color: darken(white, 0%);
}
header {
    text-align: "center";
  background: "#212121";
  color: "#fff";
}
.card{
    margin-top: 10
}
.Btn {
    margin-top: 2;
    flex-grow: 1;
}